
th, td {
    width: 140px;
    height: 25px;
    text-align: left;
    font-size: 20px;
}

th {
    text-align: center;
    color: blue;
    font-size: 22px;
}

.btn.btn-md {
    margin: 10px 0;
}

.container {
    font-size: 20px;
}